{% extends 'base.html.twig' %}

{% block title %}New Timeline{% endblock %}

{% block body %}
    <h1>Create new Timeline</h1>

    {{ include('timeline/_form.html.twig') }}

    <a href="{{ path('cms') }}">back to list</a>
{% endblock %}
