{% extends 'base.html.twig' %}
{% block title %}
  Hobbies
{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" href={{asset("css/hobbies.css")}}/>
{% endblock %}

{% block body%}
<div id="Selector_Menu">
  <select>
    <option value="1">Films / Séries / Animes</option>
    <option value="2">Jeux Vidéo</option>
    <option value="3">Livres</option>
    <option value="4">Collections</option>
  </select>
  <i class="fal fa-browser icone_selector"></i>
  <i class="fal fa-video icone_selector"></i>
  <i class="fal fa-ellipsis-h-alt icone_selector"></i>
  <i class="fas fa-sort-down icone_selection" aria-hidden></i>
</div>
  <div id="wrapper">
    <div id="sort">
      <button>
        <i class="fal fa-film"></i>Films / Séries / Animes</button>
      <button>
        <i class="fal fa-gamepad"></i>Jeux Vidéo</button>
      <button>
        <i class="fal fa-book"></i>Livres</button>
      <button>
        <i class="fal fa-treasure-chest"></i>Collections</button>
    </div>

    <div id="container">
      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case hidden"></div>
      <div class="article-case hidden"></div>

    </div>
  </div>
</div>
{% endblock %}
