{% extends 'base.html.twig' %}
{% block title %}
  Hobbies
{% endblock %}

{% block css %}
  <link type="text/css" rel="stylesheet" href={{asset("css/hobbies.css")}}/>
{% endblock %}

{% block body%}
  <div id="wrapper">
    <div id="sort">
      <button>
        <i class="fal fa-film"></i>Films/Séries/Animes</button>
      <button>
        <i class="fal fa-gamepad"></i>Jeux Vidéo</button>
      <button>
        <i class="fal fa-book"></i>Livres</button>
      <button>
        <i class="fal fa-treasure-chest"></i>Collections</button>
    </div>

    <div id="container">
      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case">
        <img src="https://via.placeholder.com/350x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case">
        <img src="https://via.placeholder.com/450x250.png">
        <a href="">Titre</a>
      </div>

      <div class="article-case hidden"></div>

      <div class="article-case hidden"></div>
    </div>
  </div>
</div>
{% endblock %}
