{% extends 'base.html.twig' %}
{% block title %}
  Lecture Projet
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/Lecture_Projet.css")}}/>
{% endblock %}
{% block body%}
    <div id="wrapper">
      <div id="Padding_Wrapper">
        <div id="Haut">
          <h1>FAERITH'S</h1>
          <div id="Seconde_Ligne">
            <h2>Décembre 2019</h2>
            <div id="Categorie_Projet">
              <i class="fal fa-browser" aria-hidden></i>
              <h3>Website</h3>
            </div>
          </div>
        </div>

        <div id="Contenu">
          <h3 id="Role">Rôle :&nbsp;<span>Développeur Front-End</span></h3>
          <h3 id="Client">Client :&nbsp;<span>Projet Personnel</span></h3>
          <h3 id="Langages">Langages :&nbsp;<span>HTML + CSS + Javascript + Symfony 4</span></h3>
          <h3 id="Logiciels">Logiciels :&nbsp;<span>Atom, GitHub, Trello, Google Drive</span></h3>
          <h3 id="Lien">Lien :&nbsp;<a href="https://faeriths.fr" target="_blank">https://faeriths.fr</a></span></h3>
          <h3 id="Description">Description :&nbsp;<span>Faerith's est un collectif de créateurs de contenus sur Internet (vidéos, lives, articles, ...) principalement axé sur le jeux vidéo ainsi que la culture geek.</span></h3>
          <div id="Apercu">
            <i class="far fa-chevron-left" aria-hidden></i>
            <div class="Image_Responsive">
              <img src="https://via.placeholder.com/250x140" alt="Maquette Faeriths"/>
              <img src="https://via.placeholder.com/250x140" alt="Maquette Faeriths"/>
              <img src="https://via.placeholder.com/250x140" alt="Maquette Faeriths"/>
          </div>
            <i class="far fa-chevron-right" aria-hidden></i>
          </div>
          </p>
        </div>

        <div id="Partage">
          <h4>Partager</h4>
          <div id="Social_Icones">
            <i class="fab fa-facebook" aria-hidden></i>
            <i class="fab fa-twitter" aria-hidden></i>
            <i class="fab fa-tumblr-square" aria-hidden></i>
          </div>
        </div>

        <h5 id="Commentaires"><span>2</span> Commentaires</h5>
        <div>
          <h6 class="Pseudo_Commentaire"><span>Esuria</span>, le <span>12/04/19</span> à <span>12:46</span></h6>
          <div id="Commentaire_Answer">
            <p class="Paragraphe_Commentaire">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div id="Repondre">
              <p>
                Répondre
              </p>
              <i class="far fa-reply" aria-hidden></i>
            </div>
          </div>
        </div>

        <div id="Poster_Commentaire">
          <p>
            Poster un commentaire
          </p>
          <textarea></textarea>
          <button>ENVOYER</button>
        </div>

      </div>

    </div>
  {% endblock %}
