{% extends 'base.html.twig' %}
{% block title %}
Projets
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/projets.css")}} />
{% endblock %}

{% block body%}
<div id="Selector_Menu">
  <select  onchange="change(this.value)">
    <option value="1">Sites Internet</option>
    <option value="2">Vidéo</option>
    <option value="3">Autres</option>
  </select>
  <i class="fal fa-browser  icone_selector active"  id="icone_1"></i>
  <i class="fal fa-video icone_selector"  id="icone_2"></i>
  <i class="fal fa-ellipsis-h-alt icone_selector"  id="icone_3"></i>
  <i class="fas fa-sort-down icone_selection" aria-hidden></i>
</div>
<div id="wrapper">
  <div id="sort">
    <button>
      <i class="fal fa-browser"></i>Sites internet</button>
    <button>
      <i class="fal fa-video"></i>Vidéo</button>
    <button>
      <i class="fal fa-ellipsis-h-alt"></i>Autres</button>
  </div>
  <div id="container">
    <a href="" class="projet-content">
      <img src={{asset("images/projets/logo_faeriths_projet.jpg")}} alt="Logo de Faerith's">
      <div class="projet-info">
        <h1 class="projet-title">Faerith's</h1>
        <hr class="projet-hr" />
        <p class="projet-description">Faerith’s est un collectif de créateurs de contenus sur internet (vidéos, lives, dossiers, articles …), principalement axé sur le jeux vidéo ainsi que la culture geek.</p>
      </div>
    </a>
    <a href="" class="projet-content">
      <img src={{asset("images/projets/logo_streamingschool_projet.jpg")}} alt="Logo de Streaming School">
      <div class="projet-info">
        <h1 class="projet-title">Streaming School</h1>
        <hr class="projet-hr" />
        <p class="projet-description">Formations / Tutoriels / Astuces concernant le domaine de l'Audiovisuel sur Internet.</p>
      </div>
    </a>
    <a href="" class="projet-content">
      <img src={{asset("images/projets/logo_esuria_projet.jpg")}} alt="Logo de Esuria">
      <div class="projet-info">
        <h1 class="projet-title">Esuria</h1>
        <hr class="projet-hr" />
        <p class="projet-description">Site personnel de Esuria, créateur de contenus sur Internet.</p>
      </div>
    </a>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
  function change(num) {
    if (num == 1) {
      $('.icone_selector').removeClass('active');
      $('#icone_1').addClass('active');
    } else if (num == 2) {
      $('.icone_selector').removeClass('active');
      $('#icone_2').addClass('active');
    } else if (num == 3) {
      $('.icone_selector').removeClass('active');
      $('#icone_3').addClass('active');
    } 
  }
  </script>
{% endblock %}
