body {
  overflow: auto;
}

#wrapper {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}

#sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  width: 100%;
  height: 3.5em;
  border-top: solid 2px #ff1822;
  border-bottom: solid 2px #ff1822;
  background-color: rgba(0, 0, 0, 0.4);
}

#sort button {
  font-weight: normal;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  color: white;
  margin: 1em;
  font-family: "lato";
  font-size: 1.3em;
}

#sort button:hover {
  cursor: pointer;
  text-shadow: 0 0 2px white;
}

#sort button:focus {
  outline: none;
}

#sort button i {
  margin-left: 0.5em;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5em;
  border-bottom: solid 1px #2fc08c;
}

#search input {
  border: none;
  background: none;
  height: 70%;
  width: 95%;
  padding: 0.5em;
  color: white;
}

#search input:focus {
  outline: none;
}

#search button {
  border: none;
  background: none;
}

#search button i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 5%;
  color: #77c8ae;
}

#container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 2em 0 0 0;
}

#container>.article-case {
  width: 450px;
  height: 250px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5em 0;
  border: solid white 2px;
}

#container>.article-case:hover {
  cursor: pointer;
  border: solid #2fc08c 2px;
}

#Selector_Menu {
  display: none;
}

.article-case img {
  width: 100%;
  height: 100%;
}

.article-case a {
  opacity: 0;
  position: relative;
  bottom: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 450px;
  min-height: 250px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  background: rgba(101,12,12,0.80);
  background: -moz-linear-gradient(left, rgba(101,12,12,0.80) 0%, rgba(19,134,94,0.80) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,12,12,1)), color-stop(100%, rgba(19,134,94,0.80)));
  background: -webkit-linear-gradient(left, rgba(101,12,12,0.80) 0%, rgba(19,134,94,0.80) 100%);
  background: -o-linear-gradient(left, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  background: -ms-linear-gradient(left, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  background: linear-gradient(to right, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#650c0c', endColorstr='#13865e', GradientType=1 );
  transition-duration: 500ms;
}

.article-case a:hover {
  opacity: 1;
  transform: opacity(1);
}

.tag {
  width: 100%;
  text-align: right;
}

.title-date {
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-family: "orbitron";
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.date {
  font-family: "lato";
  width: 100%;
  text-align: center;
}

.article-case a:hover {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
  margin: 0;
  height: 0;
}

@media screen and (max-width:1280px) {}

@media screen and (max-width:1024px) {

    #sort {
      display: none;
    }

    #Selector_Menu {
      display: flex;
      border-bottom: 2px solid #ff1822;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    #Selector_Menu select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 3em;
      font-family: "orbitron";
      font-size: 1.4em;
      color: #13865d;
      border: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 1);
      padding-left: 1em;
      cursor: pointer;
    }
  }

  .icone_selector {
    position: absolute;
    color: #13865d;
    font-size: 2em;
  }

  .icone_selection {
    position: absolute;
    color: white;
    font-size: 1.5em;
    right: 1em;
    top: 4em;
  }
}
