body {
  overflow: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 50em;
  margin: 0 auto 0 auto;
}

.contactLabel {
  margin-top: 2em;
  color: white;
  font-family: "orbitron";
  font-size: 1.3em;
}

input, textarea {
  border: none;
  background: none;
  background-image: url("../../Images/Background-Clair.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid 1px #ff1822;
  margin-top: 1em;
  color: white;
  font-family: arial;
  font-size: 1em;
  width: 100%;
  padding: 0.3em;
}

textarea:focus, input:focus{
    outline: none;
}

input {
  height: 2em;
}

textarea {
  min-height: 15em;
  resize: none;
}

button {
  border: none;
  background: none;
  background-image: url("../../Images/Background-Clair.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid 1px #ff1822;
  color: white;
  font-family: "orbitron";
  font-size: 1.3em;
  margin: 1em auto 0 auto;
  width: 25%;
  min-width: 10em;
  padding: 0.3em;
}

button:hover{
  cursor: pointer;
  text-shadow: 0 0 5px white;
  box-shadow: 0 0 5px 1px #ff1822;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {
  #wrapper {
    width: 80%;
  }

  textarea {
    min-height: 20em;
    resize: none;
  }

  input {
    height: 2.5em;
  }

  button {
    height: 3em;
    margin-top: 1.5em;
  }

}
