body {
  overflow: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: 0 auto 0 auto;
}

#sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5em;
  width: 100%;
  height: 3.5em;
  border-top: solid 2px #ff1822;
  border-bottom: solid 2px #ff1822;
  background-color: rgba(0, 0, 0, 0.4);
}

#sort button {
  display: flex;
  flex-direction: row;
  font-weight: normal;
  border: none;
  background: none;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: 1em 0 1em 0;
  font-family: "orbitron";
  font-size: 1.3em;
}

#sort button:hover {
  cursor: pointer;
  text-shadow: 0 0 2px white;
}

#sort button:focus {
  outline: none;
}

#sort button i {
  margin-right: 0.5em;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 2em 0 0 0;
}

#Selector_Menu {
  display: none;
}

.article-case {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 250px;
  padding: 0;
  margin: 0 0 1.5em 0;
  border: solid white 2px;
}

.article-case:hover {
  cursor: pointer;
  border: solid #2fc08c 2px;
}

.article-case img {
  width: 100%;
  height: auto;
}

.article-case a {
  opacity: 0;
  position: relative;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;
  color: white;
  font-family: "orbitron";
  font-size: 1.5em;
  background: rgba(101, 12, 12, 0.80);
  background: -moz-linear-gradient(left, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101, 12, 12, 1)), color-stop(100%, rgba(19, 134, 94, 0.80)));
  background: -webkit-linear-gradient(left, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  background: -o-linear-gradient(left, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  background: -ms-linear-gradient(left, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  background: linear-gradient(to right, rgba(101, 12, 12, 0.80) 0%, rgba(19, 134, 94, 0.80) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#650c0c', endColorstr='#13865e', GradientType=1);
  transition-duration: 500ms;
}

.article-case a:hover {
  opacity: 1;
  transform: opacity(1);
}

.hidden {
  visibility: hidden;
  margin: 0;
  height: 0;
}

@media screen and (max-width:1713px) {
  .hidden {
    display: none;
  }
}

@media screen and (max-width:1280px) {
  #sort button {
    font-size: 1em;
  }

  #wrapper {
    width: 80%;
  }
}

@media screen and (max-width:1024px) {
  .article-case {
    width: 40%;
    height: auto;
  }

  .article-case img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  .article-case a {
    opacity: 0;
    position: relative;
    bottom: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  #sort {
    display: none;
  }

  #Selector_Menu {
    display: flex;
    border-bottom: 2px solid #ff1822;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #Selector_Menu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3em;
    font-family: "orbitron";
    font-size: 1.4em;
    color: #13865d;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    padding-left: 2.3em;
    cursor: pointer;
  }

.icone_selector {
  visibility: hidden;
  position: absolute;
  color: #13865d;
  font-size: 2em;
  top: 3em;
  left: 0.3em;
  width: 1em;
}

.icone_selection {
  display: none;
  position: absolute;
  color: white;
  font-size: 1.5em;
  right: 1em;
  top: 4em;
}

.active {
  visibility: visible;
}

}
