body {
  overflow: hidden;
}

#pagination {
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 1%;
  height: 10%;
  width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pag {
  transition-duration: 250ms;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 2px;
  border: none;
  box-sizing: border-box;
  background-color: #ff1822;
}

.pag:hover {
  cursor: pointer;
  box-shadow: none;
  box-sizing: border-box;
  box-shadow: 0 0 10px 4px #650c0c;
}

.barActive {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #77c8ae;
  box-shadow: 0 0 10px 2px #13865d;
  box-sizing: border-box;
}

.barActive:hover {
  background-color: #77c8ae;
  box-shadow: 0 0 10px 2px #13865d;
}

@keyframes chevronup {
  0% {
    top: 9.2%;
  }

  50% {
    top: 10%;
  }

  100% {
    top: 9.2%;
  }
}

@keyframes chevrondown {
  0% {
    bottom: 1.2%;
  }

  50% {
    bottom: 2%;
  }

  100% {
    bottom: 1.2%;
  }
}

.chevron-up {
  position: fixed;
  z-index: 1001;
  left: 47.5%;
  right: 47.5%;
  width: 5%;
  top: 9.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2fc08c;
  font-size: 2em;
  animation-name: chevronup;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}

.chevron-down {
  position: fixed;
  z-index: 1001;
  bottom: 1.5%;
  left: 47.5%;
  right: 47.5%;
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2fc08c;
  font-size: 2em;
  animation-name: chevrondown;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}

.chevron-down:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #2fc08c;
}

.chevron-up:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #2fc08c;
}

.chevron-ghost {
  opacity: 0;
}

.chevron-ghost:hover {
  cursor: default;
}

.footer-trait-central {
  height: 2px;
  width: 5%;
  background-color: #650c0c;
  margin: 0;
}

.footer-trait-active {
  background: none;
}

.wrapper-1 {
  width: 80%;
  height: 80%;
  background-color: red;
  display: flex;
  margin: 5% auto auto auto;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper-2 {
  width: 60%;
  height: 80%;
  display: flex;
  margin: 5% auto auto auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#timeline {
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#timeline hr {
  border: none;
  width: 4px;
  height: 100%;
  background-color: #ff1822;
  margin: 0;
  padding: 0;
}

#timeline-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../Images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: solid 2px #650c0c;
  width: 90%;
  height: 100%;
}

#timeline-content h2 {
  color: white;
  width: 90%;
  text-align: center;
  font-size: 2em;
  font-family: "orbitron";
  margin: 0.5em 0 0 0;
}

.timeline-content-date {
  margin: 0;
  font-family: "lato";
  text-align: center;
  font-size: 1.4em;
  border: none;
  color: white;
  width: 90%;
}

#timeline-content hr {
  border: none;
  background-color: #650c0c;
  width: 90%;
  height: 2px;
}

#timeline-content img {
  margin-top: 0.6em;
  width: 50%;
}

#timeline-content p {
  font-family: "lato";
  border: none;
  color: white;
  width: 90%;
}

.wrapper-3 {
  width: 60%;
  height: 80%;
  display: flex;
  margin: 7% auto auto auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper-3 h2 {
  font-size: 2em;
  font-family: "orbitron";
  color: white;
  margin: 0 0 0.4em 0;
}

.wrapper-3 hr {
  background-color: #ff1822;
  border: none;
  margin: 0;
  height: 6px;
  width: 11.5em;
}

#flip-content {
  width: 100%;
  margin: 3% auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 427px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background: #131313;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px #ff1822;
  box-shadow: 0 0 5px 1.5px #ff1822;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-image: url("../../Images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 0 5px 1.5px #2fc08c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.front .name {
  font-size: 15em;
  color: #f8f8f8;
  margin: auto;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

.back-logo {
  position: relative;
  top: -10%;
  -webkit-transform: rotatez(7deg);
  -moz-transform: rotatey(7deg);
  -o-transform: rotatez(7deg);
  transform: rotatez(7deg);
  background: #131313;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 35%;
  font-size: 5em;
  color: #f8f8f8;
  border-bottom: solid black 1px;
}

.back-logo p {
  position: relative;
  top: 0.5em;
  font-size: 0.5em;
  -webkit-transform: rotatez(-7deg);
  -moz-transform: rotatez(-7deg);
  -o-transform: rotatez(-7deg);
  transform: rotatez(-7deg);
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: "lato";
  line-height: 2em;
  color: #f8f8f8;
}

.wrapper-4 {
  width: 60%;
  height: 80%;
  display: flex;
  margin: 14% auto auto auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper-4 h2 {
  width: 100%;
  border-top: solid 1px #2fc08c;
  border-bottom: solid 1px #2fc08c;
  font-size: 1.5em;
  font-family: "orbitron";
  color: white;
  margin: 0 0 0.4em 0;
  padding: 0.2em 0 0.2em 0.3em;
  text-transform: uppercase;
}

#wrap-4-content {
  width: 100%;
  height: 30%;
  margin: 3% auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  tranform: skew(-30deg);
}

#com4up {
  text-decoration: none;
  background-image: url("../../Images/1.png");
  height: 100%;
  width: 40%;
  padding: 0.5em 2em 0.5em 2em;
  border: solid 1px #ff1822;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff1822;
}

#wrap-4-content hr {
  height: 95%;
  width: 2px;
  background-color: #77c8ae;
  box-shadow: 0 0 5px 1px #77c8ae;
  box-sizing: border-box;
  margin: 0 1em 0 1em;
}

#faeriths {
  text-decoration: none;
  background-image: url("../../Images/1.png");
  height: 100%;
  width: 40%;
  padding: 0.5em 2em 0.5em 2em;
  border: solid 1px #ff1822;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff1822;
}

#faeriths:hover, #com4up:hover {
  box-shadow: none;
  ;
}

#faeriths img {
  height: 80%;
  width: auto;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  tranform: skew(30deg);
}

#com4up img {
  height: 40%;
  width: auto;
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  -o-transform: skew(30deg);
  tranform: skew(30deg);
}

.pagActive {
  display: none;
}

@media screen and (max-width:1280px) {}
