body {
  overflow: auto;
}

#wrapper {
  width: 50%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}

#sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5em;
  width: 100%;
  height: 3.5em;
  border-top: solid 2px #ff1822;
  border-bottom: solid 2px #ff1822;
  background-color: rgba(0, 0, 0, 0.4);
}

#sort button {
  font-weight: normal;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: white;
  margin: 1em;
  font-family: "orbitron";
  font-size: 1.3em;
}

#sort button:hover {
  cursor: pointer;
  text-shadow: 0 0 2px white;
}

#sort button:focus {
  outline: none;
}

#sort button i {
  margin-right: 0.5em;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  width: 100%;
  height: 43em;
}

.projet-content {
  height: 12.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #650c0c;
  background-image: url("../../Images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-decoration: none;
}

.projet-content img {
  height: 100%;
  width: 12.5em;
  border-right: solid 2px #650c0c;
}

.projet-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.projet-title {
  font-family: "orbitron";
  font-size: 1.5em;
  margin: 0.3em 0 0 0;
}

.projet-hr {
  border: none;
  height: 1px;
  width: 30%;
  background-color: #ff1822;
}

.projet-description {
  margin: 0.2em 0.7em 0 0.7em;
  overflow-y: hidden;
}

#Selector_Menu {
  display: none;
}

@media screen and (max-width:1280px) {
  #wrapper {
    width: 90%;
  }
}

@media screen and (max-width:1024px) {
  #sort {
    display: none;
  }

  #Selector_Menu {
    display: flex;
    border-bottom: 2px solid #ff1822;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #Selector_Menu select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3em;
    font-family: "orbitron";
    font-size: 1.4em;
    color: #13865d;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    padding-left: 2.3em;
    cursor: pointer;
  }

.icone_selector {
  visibility: hidden;
  position: absolute;
  color: #13865d;
  font-size: 2em;
  top: 3em;
  left: 0.3em;
  width: 1em;
}

.icone_selection {
  display: none;
  position: absolute;
  color: white;
  font-size: 1.5em;
  right: 1em;
  top: 4em;
}

.active {
  visibility: visible;
}
}

@media screen and (max-width:660px) {
  #sort button {
    font-size: 1em;
  }

  .projet-title {
    font-size: 1.2em;
  }
}
