{% extends 'base.html.twig' %}
{% block body%}
{{ form_start(form) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">Change Password</button>
{{ form_end(form) }}

{% endblock %}