{% extends 'base.html.twig' %}
{% block body%}


<form action="{{ path('reset_password_ask') }}" method="post">
    <label for="email">Votre Adresse mail</label>
    <input type="text" id="email" name="email"/>
    <button type="submit">Mot de passe </button>
</form>

{% endblock %}