{% extends 'base.html.twig' %}
{% block title %}
<title>Esuria // CMS</title>
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/CMS.css")}} />
{% endblock %}
{% block body %}
		<!-- CONTENU -->
		<div id="Zone">
			<nav id="cmsSwitch">
				<p onclick="change(1);">Présentation</p>
				<p onclick="change(2);">Projets</p>
				<p onclick="change(3);">Hobbies</p>
				<p onclick="change(4);">Articles</p>
				<p onclick="change(5);">Moderation</p>
			</nav>
				<div class="CMS_wrap active" id="Presentation_cms">
						<p class="CMS_Titre">Gestion Présentation</p>
					<p class="boutonAjout"><i class="fal fa-upload"></i> Photo de profils</p>
					<label>Texte de présentation</label>
					<textarea></textarea>
					<button>Valider</button>

							<p class="CMS_Titre">Gestion Compétences</p>
							<a class="boutonAjout" href="#">Ajouter Compétence</a>
								<div class="Skills_list">

							<div class="Skills_Line">
								<div class="Skills_image">icone</div>
								<div class="Skills_Link"> nom</div>
								<div class="Article_Interaction">
									<i class="fal fa-edit"></i>
									<i class="fal fa-times"></i>
								</div>
							</div>

							</div>


						</div>

						<div class="CMS_wrap" id="Projets_cms">
									<p class="CMS_Titre">Gestion Projets</p>
									<a class="boutonAjout" href="{{path('new-projet')}}">Ajouter Projet</a>

									<div class="sort">
			                <button v-on:click="setSelect('All')">
			                    <i class="fal fa-browser"></i>Tout</button>
			                <button v-on:click="setSelect('web')">
			                    <i class="fal fa-browser"></i>Sites internet</button>
			                <button v-on:click="setSelect('video')">
			                    <i class="fal fa-video"></i>Vidéo</button>
			                <button v-on:click="setSelect('autres')">
			                    <i class="fal fa-ellipsis-h-alt"></i>Autres</button>
			            </div>

										<div class="Hobbies_list">

									<div class="Hobbies_Line">
										<div class="Hobbies_image"><i class="fal fa-upload"></i> Image.jpg</div>
										<div class="Hobbies_Link"><i class="fal fa-link"></i> https://lienverslehobbies.fr/</div>
										<p class="Hobbies_type">Type</p>
										<div class="Article_Interaction">
											<i class="fal fa-edit"></i>
											<i class="fal fa-times"></i>
										</div>
									</div>
									</div>
								</div>


				<div class="CMS_wrap" id="Hobbies_cms">
							<p class="CMS_Titre">Gestion Hobbies</p>
							<a class="boutonAjout" href="{{path('hobbie_new')}}">Ajouter Hobbie</a>

							<div class="sort">
									<button v-on:click="setSelect('All')">
									<i class="fal fa-browser"></i>Tout</button>
									<button v-on:click="setSelect('video')">
											<i class="fal fa-film"></i>Films / Séries / Animes</button>
									<button v-on:click="setSelect('jeu')">
											<i class="fal fa-gamepad"></i>Jeux Vidéo</button>
									<button v-on:click="setSelect('livre')">
											<i class="fal fa-book"></i>Livres</button>
									<button v-on:click="setSelect('collection')">
											<i class="fal fa-treasure-chest"></i>Collections</button>
							</div>

								<div class="Hobbies_list">

							<div class="Hobbies_Line">
								<div class="Hobbies_image"><i class="fal fa-upload"></i> Image.jpg</div>
								<div class="Hobbies_Link"><i class="fal fa-link"></i> https://lienverslehobbies.fr/</div>
								<p class="Hobbies_type">Type</p>
								<div class="Article_Interaction">
									<i class="fal fa-edit"></i>
									<i class="fal fa-times"></i>
								</div>
							</div>
							<div class="Hobbies_Line">
								<div class="Hobbies_image"><i class="fal fa-upload"></i> Image.jpg</div>
								<div class="Hobbies_Link"><i class="fal fa-link"></i> https://lienverslehobbies.fr/</div>
								<p class="Hobbies_type">Type</p>
								<div class="Article_Interaction">
									<i class="fal fa-edit"></i>
									<i class="fal fa-times"></i>
								</div>
							</div>
							<div class="Hobbies_Line">
								<div class="Hobbies_image"><i class="fal fa-upload"></i> Image.jpg</div>
								<div class="Hobbies_Link"><i class="fal fa-link"></i> https://lienverslehobbies.fr/</div>
								<p class="Hobbies_type">Type</p>
								<div class="Article_Interaction">
									<i class="fal fa-edit"></i>
									<i class="fal fa-times"></i>
								</div>
							</div>

							</div>
						</div>

				<div class="CMS_wrap" id="Blog_cms">
						<p class="CMS_Titre">Gestion Articles</p>
						<a class="boutonAjout" href="{{path('new-article')}}">Nouvel article</a>
						<p class="CMS_Titre_2">Brouillons</p>
						<div class="Article_list">
							<div class="Article_line">
								<p class="Article_date">14 Septembre 2017</p>
								<p class="Article_nom">Site Web</p>
								<a href="#" class="Article_lien">Lien</a>
								<div class="Article_Interaction">
									<i class="fal fa-edit"></i>
									<i class="fal fa-times"></i>
								</div>
							</div>
							</div>
							<p class="CMS_Titre_2">Publiés</p>
					<div class="Article_list">
						<div class="Article_line">
							<p class="Article_date">14 Septembre 2017</p>
							<p class="Article_nom">Site Web</p>
							<a href="#" class="Article_lien">Lien</a>
							<div class="Article_Interaction">
								<i class="fal fa-edit"></i>
								<i class="fal fa-times"></i>
							</div>
						</div>
					</div>

				</div>

				<div class="CMS_wrap" id="Moderation_cms">
							<p class="CMS_Titre">Gestion Moderation</p>
								<div class="Commentaire_list">

							<div class="Commentaire_Line">
								<p class="Commentaire_date">14 Septembre 2017</p>
								<div class="Commentaire_image">pseudo</div>
								<div class="Commentaire_Link">https://lienverslarticle.fr/</div>
								<div class="Article_Interaction">
									<i class="fal fa-times"></i>
								</div>
							</div>
							</div>
						</div>


			</div>
		</div>

    {% endblock %}
    {% block javascripts %}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="Fixe/javascript.js"></script>
	<script>
		function change(num) {
			if (num == 1) {
				$('.CMS_wrap').removeClass('active');
				$('#Presentation_cms').addClass('active');
			} else if (num == 2) {
				$('.CMS_wrap').removeClass('active');
				$('#Projets_cms').addClass('active');
			} else if (num == 3) {
				$('.CMS_wrap').removeClass('active');
				$('#Hobbies_cms').addClass('active');
			} else if (num == 4) {
				$('.CMS_wrap').removeClass('active');
				$('#Blog_cms').addClass('active');
			} else if (num == 5) {
				$('.CMS_wrap').removeClass('active');
				$('#Moderation_cms').addClass('active');
			}
		}
	</script>
{% endblock %}
