{% extends 'cms_base.html.twig' %}
{% block title %}
Esuria // CMS
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/CMS.css")}} />
{% endblock %}
{% block content %}
		<!-- CONTENU -->
		<div id="Zone">
		<p>CMS Contact</p>
		</div>

    {% endblock %}
    {% block js %}
		{% endblock %}
