{% extends 'cms_base.html.twig' %}
{% block title %}
Esuria // CMS
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/CMS.css")}} />
{% endblock %}
{% block content %}
		<!-- CONTENU -->
		<div id="Zone">
			<div class="CMS_wrap" id="Agenda_cms">
				<div class="Article_list">
					<div class="Article_line">
						<p class="Article_date">14 Septembre 2017</p>
						<p class="Article_nom">Site Web</p>
						<div class="Article_Interaction">
							<i class="fal fa-edit"></i>
							<i class="fal fa-times"></i>
						</div>
					</div>
					<div class="Article_line">
						<p class="Article_date">14 Septembre 2017</p>
						<p class="Article_nom">Site Web</p>
						<div class="Article_Interaction">
							<i class="fal fa-edit"></i>
							<i class="fal fa-times"></i>
						</div>
					</div>
					<div class="Article_line">
						<p class="Article_date">14 Septembre 2017</p>
						<p class="Article_nom">Site Web</p>
						<div class="Article_Interaction">
							<i class="fal fa-edit"></i>
							<i class="fal fa-times"></i>
						</div>
					</div>
					<div class="Article_line">
						<p class="Article_date">14 Septembre 2017</p>
						<p class="Article_nom">Site Web</p>
						<div class="Article_Interaction">
							<i class="fal fa-edit"></i>
							<i class="fal fa-times"></i>
						</div>
					</div>
					<div class="Article_line">
						<p class="Article_date">14 Septembre 2017</p>
						<p class="Article_nom">Site Web</p>
						<div class="Article_Interaction">
							<i class="fal fa-edit"></i>
							<i class="fal fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

    {% endblock %}
    {% block js %}
		{% endblock %}
