# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{url}}">activer votre compte</a>.

Thanks!
